body{
  background-color: whitesmoke;
  margin: 0;
}

header{
  background-color: green;
  height: 90px;
}
 h1{
  float: left;
<<<<<<< HEAD
  padding-left: 50px;
=======
>>>>>>> ad6eaf80269ffe812f8e996347220a07b103ef9b

} 
a {
  float: right;
  padding: 30px;
<<<<<<< HEAD
  text-decoration: none;
}
.hp {
 background-color: rgb(199, 177, 219);
  margin: 100px 100px 100px 100px;
  padding: 50px 50px 50px 50px;
}
=======
}

>>>>>>> ad6eaf80269ffe812f8e996347220a07b103ef9b
p{
  background-color: rgb(247, 210, 176);
  margin: 50px;
  padding: 30px;
}

<<<<<<< HEAD
.ss{
  background-color: rgb(180, 180, 75);
  margin: 50px 50px 100px 100px;
  padding: 50px 50px 50px 50px;
  
}
.conection {
  background-color:rgb(190, 119, 119);
  display: inline-block;
  margin: 100px 100px 100px 100px;
  padding: 0px;
}

#im{
  text-align: center;
}


 img{
  width: 250px;
  height: 250px;
 }
=======


 img{
  width: 300px;
  height: 300px;
} 
>>>>>>> ad6eaf80269ffe812f8e996347220a07b103ef9b

div img{
  padding: 50px
}
h2 {
  display: inline-block; 
  padding: 100px;  
} 
h4 {
  display: inline-block; 
  padding: 50px; 
} 

footer{
   background-color: green;
   height: 30px;
}